:root {
  --lato: 'Lato', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --paragraphFZmin: calc(1rem + ((1vw - 0.2em) * 0.5));
  --h1FZmin: calc(1.375rem + ((1vw - 0.2em) * 1.525));
  --h2FZmin: calc(1.375rem + ((1vw - 0.25em) * 1.380));
  --h3FZmin: calc(1.375rem + ((1vw - 0.3em) * 1.130));
  --h4FZmin: calc(1.375rem + ((1vw - 0.4em) * 0.915));
  --h5FZmin: calc(1.375rem + ((1vw - 0.4em) * 0.715));
  --paragraphFZmax: 1.5em;
  --h1FZmax: 3.0em;
  --h2FZmax: 2.75em;
  --h3FZmax: 2.35em;
  --h4FZmax: 2em;
  --h5FZmax: 1.75em;
  --LineHeightRatioParagraph: 1.618;
  --LineHeightRatioHeadline: 1.42;
  scroll-behavior: smooth;
}

@media (min-width: 18em) {
  p,
  i {
    font-size: var(--paragraphFZmin);
    line-height: calc(var(--LineHeightRatioParagraph)*var(--paragraphFZmin));
  }
  h1 {
    font-size: var(--h1FZmin);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h1FZmin));
  }
  h2 {
    font-size: var(--h2FZmin);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h2FZmin));
  }
  h3 {
    font-size: var(--h3FZmin);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h3FZmin));
  }
  h4 {
    font-size: var(--h4FZmin);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h4FZmin));
  }
  h5 {
    font-size: var(--h5FZmin);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h5FZmin));
  }
}

@media (min-width: 120em) {
  p,
  i {
    font-size: var(--paragraphFZmax);
    line-height: calc(var(--LineHeightRatioParagraph)*var(--paragraphFZmax));
  }
  h1 {
    font-size: var(--h1FZmax);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h1FZmax));
  }
  h2 {
    font-size: var(--h2FZmax);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h2FZmax));
  }
  h3 {
    font-size: var(--h3FZmax);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h3FZmax));
  }
  h4 {
    font-size: var(--h4FZmax);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h4FZmax));
  }
  h5 h5 {
    font-size: var(--h5FZmax);
    line-height: calc(var(--LineHeightRatioHeadline)*var(--h5FZmax));
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  20% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  30% {
    -webkit-box-shadow: 0 0 0 3px orangered;
            box-shadow: 0 0 0 3px orangered;
  }
  40% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  20% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  30% {
    -webkit-box-shadow: 0 0 0 3px orangered;
            box-shadow: 0 0 0 3px orangered;
  }
  40% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 orangered;
            box-shadow: 0 0 0 0 orangered;
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

body {
  max-width: 80vw;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
button {
  font-family: var(--lato);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--oswald);
  margin: 0;
}

i {
  pointer-events: none;
}

.top_nav {
  max-width: 90vw;
  height: 10vh;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 736px) {
  .top_nav {
    height: 30vh;
  }
}

.top_nav__image {
  max-width: 99%;
  z-index: -1;
  position: absolute;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  -webkit-transition: 0.15s linear filter;
  transition: 0.15s linear filter;
}

.top_nav__listElement {
  display: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: white;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-family: var(--oswald);
  border-bottom: 3px solid transparent;
  font-size: var(--paragraphFZmin);
  -webkit-box-shadow: 0 0 25px inset black;
          box-shadow: 0 0 25px inset black;
  border-radius: 5%;
  letter-spacing: 2px;
}

@media (min-width: 736px) {
  .top_nav__listElement {
    display: block;
  }
}

.top_nav__listElement:hover ~ .top_nav__image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.top_nav__listElement:hover {
  border-bottom: ridge 3px orangered;
  color: black;
  text-shadow: 1px 1px 10px orangered;
  -webkit-box-shadow: 0 0 25px inset orangered;
          box-shadow: 0 0 25px inset orangered;
  font-weight: bold;
}

.top {
  position: relative;
  overflow: hidden;
}

.top_expanded {
  display: none;
  position: fixed;
  top: 5%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

@media (min-width: 736px) {
  .top_expanded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
}

.top_expanded__item {
  padding: 10px;
  background-color: white;
  z-index: 2;
  border-radius: 5%;
}

.top_expanded__item:hover {
  color: orangered;
}

.top_expanded .searchField {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s -webkit-transform linear;
  transition: 0.5s -webkit-transform linear;
  transition: 0.5s transform linear;
  transition: 0.5s transform linear, 0.5s -webkit-transform linear;
  opacity: 0;
}

.top_expanded .searchFieldActive {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.top_expanded__companyName {
  text-align: center;
  margin: 5vh;
  z-index: 1;
  background-color: #fff;
}

.top_expanded .convertMoney {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  padding: 0;
}

.top_expanded .convertMoney .convertMoneyBtn {
  z-index: 2;
  border-radius: 5%;
  padding: 10px 15px;
}

.top_expanded .convertMoney .convertMoneyBtn:hover {
  color: orangered;
}

.top_expanded .convertMoney .invisible {
  display: none;
}

.top_expanded .convertMoney .visible {
  display: block;
}

.top_fixed {
  width: 70%;
  background-color: rgba(128, 128, 128, 0.2);
}

.top_minified {
  position: fixed;
  display: none;
  width: 100%;
  left: -120%;
  top: 8vh;
  height: 50vh;
  background-color: black;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

@media (max-width: 735px) {
  .top_minified {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.top_minified .searchField {
  height: auto;
  padding: 10px;
  margin: 0 auto;
  border: auto;
  width: 80%;
  display: none;
}

.top_minified .searchFieldActive {
  display: block;
}

.top_minified__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  background-color: rgba(128, 128, 128, 0.11);
  color: white;
}

.top_minified__opener {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: white;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
}

.top_minified .convertMoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top_minified .convertMoney .convertMoneyBtnMin,
.top_minified .convertMoney .convertMoneyBtnTxt {
  color: white;
  text-align: center;
}

.top_minified .convertMoney .convertMoneyBtnMin {
  padding: 0 15px;
}

.top_minified .convertMoney .convertMoneyBtnMin:nth-of-type(1) {
  color: orangered;
}

.top_minified .convertMoney .convertMoneyBtnTxt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.top_maximized {
  left: 0;
  z-index: 2;
}

.newItems_add {
  position: absolute;
  right: 5%;
  bottom: -100%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  color: orangered;
  -webkit-transition: 0.25s linear all;
  transition: 0.25s linear all;
}

@media (max-width: 735px) {
  .newItems_add {
    right: 15%;
  }
}

.shoppingBag_animated {
  -webkit-animation: swing 0.1s infinite;
          animation: swing 0.1s infinite;
  color: orangered;
}

.newItems_price {
  position: absolute;
  left: 50%;
  bottom: -100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s linear all;
  transition: 0.25s linear all;
  color: orangered;
  border-radius: 50%;
}

.basket {
  display: none;
  position: fixed;
  right: 10%;
  left: 10%;
  top: 10%;
  z-index: 1;
  min-height: 50px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

@media (max-width: 735px) {
  .basket {
    display: none;
  }
}

.basket_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: var(--h2FZmin);
  padding: 10px;
  text-align: center;
}

.basket_titles h5 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.basket_open {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.basketImage {
  text-align: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.basketImage img {
  max-width: 70%;
  max-height: 100%;
}

.basketQuantity,
.basketRemove,
.basketDescription,
.basketPrice {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.basketQuantity:hover,
.basketRemove:hover,
.basketDescription:hover,
.basketPrice:hover {
  color: orangered;
  border: 1px solid orangered;
}

.basketItemMaximized {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid rgba(128, 128, 128, 0.2);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.watchGallery_mainTitle {
  text-align: center;
}

.watchGallery_introduction {
  text-align: center;
  margin-bottom: 10vh;
}

.watchGallery_gallery {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1vw;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 736px) {
  .watchGallery_gallery {
    max-width: 60vw;
    -ms-grid-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.watchGallery_galleryItem {
  display: none;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  border-radius: 2%;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

.watchGallery_galleryItem:nth-child(1), .watchGallery_galleryItem:nth-child(2), .watchGallery_galleryItem:nth-child(3) {
  display: block;
}

@media (min-width: 736px) {
  .watchGallery_galleryItem {
    display: block;
  }
}

.watchGallery_galleryItem:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.watchGallery_gallerySub {
  display: none;
  width: 100%;
}

@media (min-width: 736px) {
  .watchGallery_gallerySub {
    display: block;
    text-align: center;
    font-size: var(--h4FZmin);
  }
}

.watchGallery_SubMinimal {
  display: block;
  font-size: var(--h1FZmin);
}

@media (min-width: 736px) {
  .watchGallery_SubMinimal {
    display: none;
  }
}

.blurred {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  pointer-events: none;
}

.modal_container .modalPopup {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  border: 30px solid white;
  -webkit-box-shadow: 0 0 40px black;
          box-shadow: 0 0 40px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_container .modalClose {
  position: fixed;
  top: 40%;
  padding: 3px 10px;
  right: -10%;
  background-color: rgba(255, 255, 255, 0.692);
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px inset black;
          box-shadow: 0 0 5px inset black;
}

@media (min-width: 915px) {
  .modal_container .modalClose {
    right: 0;
  }
}

@media (orientation: portrait) {
  .modal_container .modalClose {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 50%;
    top: 80%;
    background-color: white;
  }
}

.newItems {
  position: relative;
  overflow: hidden;
}

.newItems_headline {
  text-align: center;
}

.newItems_mainHeadline {
  margin-top: 10vh;
}

.newItems_paragraphOne {
  text-align: center;
  letter-spacing: 1px;
}

.newItems_examplePicContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
  grid-gap: 3px;
      grid-template-areas: "picture1 picture2 picture3 picture4" "more1 more1 more2 more2";
}

@media (max-width: 735px) {
  .newItems_examplePicContainer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0.5fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas: "picture1 picture2" "more1 more2";
  }
}

.newItems_examplePicContainer__examplePic {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  overflow: hidden;
}

.newItems_examplePicContainer__examplePic .innerPic {
  max-width: 100%;
}

.newItems_examplePicContainer__examplePic:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: picture1;
}

.newItems_examplePicContainer__examplePic:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: picture2;
}

.newItems_examplePicContainer__examplePic:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: picture3;
}

@media (max-width: 735px) {
  .newItems_examplePicContainer__examplePic:nth-of-type(3) {
    display: none;
  }
}

.newItems_examplePicContainer__examplePic:nth-of-type(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: picture4;
}

@media (max-width: 735px) {
  .newItems_examplePicContainer__examplePic:nth-of-type(4) {
    display: none;
  }
}

.newItems_examplePicContainer__examplePic:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px inset black;
          box-shadow: 0 0 10px inset black;
}

.newItems_examplePicContainer__examplePic:hover .newItems_add {
  -webkit-animation: pulse 8s infinite;
          animation: pulse 8s infinite;
  bottom: 5%;
}

.newItems_examplePicContainer__examplePic:hover .newItems_price {
  bottom: 5%;
}

.newItems_examplePicContainer__seeMoreBtn {
  font-size: calc(var(--paragraphFZmin)*0.75);
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

@media (max-width: 735px) {
  .newItems_examplePicContainer__seeMoreBtn {
    border: 1px solid black;
    -webkit-box-shadow: 0 0 2px inset black;
            box-shadow: 0 0 2px inset black;
  }
}

.newItems_examplePicContainer__seeMoreBtn:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: more1;
}

.newItems_examplePicContainer__seeMoreBtn:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: more2;
}

.newItems_examplePicContainer__seeMoreBtn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  color: orangered;
  text-decoration: underline;
  text-underline-position: under;
}

.newItems_secondHeadline {
  margin-top: 10vh;
}

.newItems_paragraphTwo {
  display: block;
  max-width: 60%;
  text-align: center;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.newItems_paragraphTwo_animated {
  -webkit-animation: paragraphTwoRoller 1s ease-out forwards;
          animation: paragraphTwoRoller 1s ease-out forwards;
}

@-webkit-keyframes paragraphTwoRoller {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
    opacity: 1;
  }
}

@keyframes paragraphTwoRoller {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
    opacity: 1;
  }
}

.trendingItems {
  text-align: center;
  overflow: hidden;
}

.trendingItems_mainHeadline {
  margin-top: 10vh;
}

.trendingItems_intruduction {
  margin-bottom: 10vh;
}

.trendingItems_container {
  overflow: hidden;
}

@media (min-width: 736px) {
  .trendingItems_container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 735px) {
  .trendingItems_container {
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.trendingItems_container_active {
  -webkit-animation: trendingRoller 0.5s linear forwards;
          animation: trendingRoller 0.5s linear forwards;
}

@-webkit-keyframes trendingRoller {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 90vh;
    visibility: visible;
    overflow: scroll;
  }
}

@keyframes trendingRoller {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 90vh;
    visibility: visible;
    overflow: scroll;
  }
}

.trendingItems_container__Item {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  overflow: hidden;
}

.trendingItems_container__Item:hover .newItems_add {
  -webkit-animation: pulse 8s infinite;
          animation: pulse 8s infinite;
  bottom: 5%;
}

.trendingItems_container__Item:hover .newItems_price {
  bottom: 5%;
}

.trendingItems_container__Item .saleItem {
  max-width: 100%;
}

.trendingItems_showGallery {
  display: none;
}

@media (max-width: 735px) {
  .trendingItems_showGallery {
    display: block;
    font-size: var(--h2FZmin);
    margin: 0 auto;
    border: 1px solid orangered;
    margin-bottom: 10vh;
  }
}

.trendingItems_showGallery:hover {
  color: white;
  background-color: orangered;
}

.contact {
  width: 80vw;
  margin: 0 auto 10vh;
  text-align: center;
}

.contact_form {
  margin: 0 auto;
  font-family: var(--lato);
}

@media (min-width: 736px) {
  .contact_form {
    width: 60vw;
  }
}

.contact_form__field {
  border-radius: 10%;
}

.contact_form__field label .emailInput {
  width: 45%;
}

.contact_form__field legend {
  padding: 10px;
  font-size: var(--h4FZmin);
}

.contact_form__field .inputSelect {
  margin: 10px;
  font-size: var(--paragraphFZmin);
  font-family: var(--lato);
}

.contact_form__field .formInput {
  width: 50%;
  margin: 10px;
  font-family: var(--lato);
}

.footer_content {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_content__item {
  padding: 0 10px;
  text-align: center;
  border: 0.2px dotted rgba(128, 128, 128, 0.3);
}

.footer_content__adress, .footer_content__contact, .footer_content__copyright {
  font-size: calc(var(--paragraphFZmin)*0.6);
}

.footer_content__copyright {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer_content__social {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.footer_content__social a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.footer_content__social a:hover {
  color: orangered;
}
/*# sourceMappingURL=style.css.map */