.contact {
    width: 80vw;
    margin: 0 auto 10vh;

    text-align: center;

    &_form {
        margin: 0 auto;
        font-family: var(--lato);

        @media (min-width: 736px) {
            width: 60vw;
        }

        &__field {

            border-radius: 10%;

            label {

                .emailInput {
                    width: 45%;
                }
            }


            legend {
                padding: 10px;
                font-size: var(--h4FZmin);
            }

            .inputSelect {
                margin: 10px;
                font-size: var(--paragraphFZmin);
                font-family: var(--lato);
            }

            .formInput {
                width: 50%;
                margin: 10px;
                font-family: var(--lato);

            }
        }
    }


}