.contact {
    width: 80vw;
    text-align: center;
    margin: 0 auto 10vh;

    &_form {
        margin: 0 auto;
        font-family: var(--lato);

        @media (min-width: 736px) {
            width: 60vw;
        }

        &__field {

            border-radius: 10%;

            label {

                .emailInput {
                    width: 45%;
                }
            }

            :focus {
                box-shadow: 0 0 5px red;
            }

            legend {
                font-size: var(--h4FZmin);
                padding: 10px;


            }

            .inputSelect {
                margin: 10px;
                font-size: var(--paragraphFZmin);
                font-family: var(--lato);
                width: 50%;
            }

            .formInput {
                margin: 10px;
                font-family: var(--lato);
                width: 50%;

            }
        }
    }


}