.newItems_add {
    position: absolute;
    right: 5%;
    bottom: -100%;
    transition: 0.25s linear all;
    color: orangered;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;

    @media (max-width: 735px) {
        right: 15%;
    }
}

.shoppingBag_animated {
    animation: swing 0.1s infinite;
    color: orangered;
}

.newItems_price {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100%;
    transition: 0.25s linear all;
    color: orangered;
    border-radius: 50%;
    padding: 0;
}

.basket {
    display: none;
    grid-template-columns: 1fr;
    height: min-content;
    grid-gap: 5px;
    min-height: 50px;
}

.basket_open {
    display: grid;


}

.basket {
    height: auto;
    position: fixed;
    top: 10%;
    right: 10%;
    left: 10%;
    z-index: 5;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.2);

    @media (max-width: 735px) {
        display: none;
    }

    &_titles {
        display: flex;
        justify-content: space-around;
        order: 0
    }



}



.basketImage {
    height: 100%;
    width: auto;

    @media(max-width: 735px) {
        // width: 20%;
        // height: auto;
    }
}

.basketPrice {
    @media(max-width: 735px) {}
}

.basketDescription {
    @media(max-width: 735px) {}
}

.basketQuantity {
    align-self: center;

    @media(max-width: 735px) {
        width: 15%;
    }
}

.basketSum {}

.basketItemMaximized {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.2);
    order: 2;

    @media(max-width: 735px) {
        background-color: white;
        width: 100%;

    }

}