.newItems_add {
    position: absolute;
    right: 5%;
    bottom: -100%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    color: orangered;
    transition: 0.25s linear all;


    @media (max-width: 735px) {
        right: 15%;
    }
}

.shoppingBag_animated {
    animation: swing 0.1s infinite;
    color: orangered;
}

.newItems_price {
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    transition: 0.25s linear all;
    color: orangered;
    border-radius: 50%;
}


.basket {
    display: none;
    position: fixed;
    right: 10%;
    left: 10%;
    top: 10%;
    z-index: 1;
    min-height: 50px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.2);

    @media (max-width: 735px) {
        display: none;
    }

    &_titles {
        display: flex;
        justify-content: space-around;
        order: 0;
        font-size: var(--h2FZmin);
        padding: 10px;
        text-align: center;

        h5 {
            flex-basis: 15%;

        }

    }
}

.basket_open {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;

}

.basketImage {
    text-align: center;
    flex-basis: 15%;
    align-self: center;



    img {
        max-width: 70%;
        max-height: 100%;
    }
}




.basketQuantity,
.basketRemove,
.basketDescription,
.basketPrice,
    {
    text-align: center;
    align-self: center;
    flex-basis: 15%;
    border: 1px solid transparent;
    box-shadow: 0 0 1px black;

    &:hover {
        color: orangered;
        border: 1px solid orangered;

    }
}


.basketItemMaximized {
    box-sizing: border-box;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.2);
    order: 2;

}