.top {
    position: relative;
    overflow: hidden;

    // CSS for upper menu standard and searchbars in both views;
    &_expanded {
        display: none;
        position: fixed;
        top: 5%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        transition: 0.3s all linear;

        &__item {
            padding: 10px;
            background-color: white;
            z-index: 2;
            border-radius: 5%;


        }


        &__item:hover {
            color: orangered;
        }

        .searchField {
            transform: translateX(100%);
            transition: 0.5s transform linear;
            opacity: 0;
        }

        .searchFieldActive {
            transform: translateX(0);
            opacity: 1;
        }

        &__companyName {
            text-align: center;
            margin: 0;
            z-index: 1;
            background-color: #fff;

            @media (max-width: 736px) {
                margin-bottom: 5vh;
            }
        }

        @media (min-width: 736px) {
            display: flex;
            overflow: hidden;
            z-index: 1;
        }
    }

    // CSS for money conversion in upper menu
    &_expanded {
        .convertMoney {
            display: flex;
            margin-right: auto;
            padding: 0;
            position: relative;

            .convertMoneyBtn {
                z-index: 2;
                border-radius: 5%;
                padding: 10px 15px;

                &:hover {
                    color: orangered;
                }

            }

            .invisible {
                display: none;
            }

            .visible {
                display: block;
            }


        }
    }

    // CSS for upper menu when scrolled;
    &_fixed {
        width: 70%;
        background-color: rgba(128, 128, 128, 0.2)
    }

    // CSS for side menu for smaller devices and portrait view;
    &_minified {
        position: fixed;
        display: none;
        width: 100%;
        left: -120%;
        top: 0;
        background-color: black;
        transition: 0.3s all linear;


        @media (max-width: 735px) {
            display: flex;
            flex-direction: column;
            height: 50vh;
            justify-content: space-around;
        }

        .searchField {
            height: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        .searchFieldActive {
            height: auto;
            padding: 10px;
            margin: 0 auto;
            border: auto;
            width: 80%;
        }


        &__item {
            display: flex;
            justify-content: space-between;
            flex-basis: 15%;
            background-color: rgba(128, 128, 128, 0.11);
            color: white;


        }

        &__opener {
            position: fixed;
            left: 1%;
            top: 1%;


        }


    }

    &_minified {

        .convertMoney {
            display: flex;
            justify-content: space-around;


            .convertMoneyBtnMin,
            .convertMoneyBtnTxt {
                color: white;
                text-align: center;
            }

            .convertMoneyBtnMin {
                padding: 0 15px;
            }

            .convertMoneyBtnMin:nth-of-type(1) {
                color: orangered;
            }


            .convertMoneyBtnTxt {
                flex-grow: 1;
                text-align: right;
            }
        }


    }

    // CSS for side menu when maximized;
    &_maximized {
        left: 0;
        z-index: 2;
    }

    // CSS for items menu and background image;
    &_nav {
        max-width: 90vw;
        height: 10vh;
        display: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media (min-width: 736px) {
            height: 30vh;

        }



        &__image {
            max-width: 99%;
            z-index: -1;
            position: absolute;
            filter: grayscale(30%);
            transition: 0.2s linear filter;
            height: auto;

        }

        &__listElement {
            display: none;
            box-sizing: content-box;
            color: white;
            flex-basis: 10%;
            font-family: var(--oswald);
            border-bottom: 1px solid black;
            font-size: var(--paragraphFZmin);
            text-shadow: 1px 1px 25px black;
            box-shadow: 0 0 25px inset black;
            border-radius: 5%;
            margin-bottom: 6%;
            letter-spacing: 1px;

            @media (min-width: 736px) {
                display: block;
            }

            &:hover~.top_nav__image {
                filter: grayscale(100%)
            }

            &:hover {
                border-bottom: ridge 1px orangered;
                color: black;
                letter-spacing: 2px;

                text-shadow: 1px 1px 10px orangered;
                box-shadow: 0 0 25px inset orangered;
                font-weight: bold;


            }


        }




    }
}