.top {
    position: relative;

    // CSS for upper menu standard and searchbars in both views;
    &_expanded {
        display: none;
        position: fixed;
        top: 5%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        transition: 0.3s all linear;

        &__item {
            padding: 10px;
            background-color: white;
            z-index: 2;
            border-radius: 5%;

            &:nth-child(1) {
                margin-right: auto;
            }
        }

        &__item:hover {
            color: gray;
        }

        .searchField {
            transform: translateX(100%);
            transition: 0.5s transform linear;
            opacity: 0;
        }

        .searchFieldActive {
            transform: translateX(0);
            opacity: 1;
        }

        &__companyName {
            text-align: center;
            margin: 0;
            z-index: 1;
            background-color: #fff;
        }

        @media (min-width: 736px) {
            display: flex;
            overflow: hidden;
            z-index: 1;
        }
    }

    // CSS for upper menu when scrolled;
    &_fixed {
        width: 70%;
        background-color: rgba(128, 128, 128, 0.2)
    }

    // CSS for side menu for smaller devices and portrait view;
    &_minified {
        position: fixed;
        display: none;
        width: 100%;
        left: -120%;
        top: 0;
        background-color: black;
        transition: 0.3s all linear;


        @media (max-width: 735px) {
            display: flex;
            flex-direction: column;
            height: 50vh;
            justify-content: space-around;
        }

        .searchField {
            height: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        .searchFieldActive {
            height: auto;
            padding: 10px;
            margin: 0 auto;
            border: auto;
            width: 80%;
        }


        &__item {
            display: flex;
            justify-content: space-between;
            flex-basis: 15%;
            background-color: rgba(128, 128, 128, 0.11);
            color: white;


            i {
                margin-left: 40px;

            }
        }

        &__opener {
            position: fixed;
            left: 1%;
            top: 1%;


        }


    }

    // CSS for side menu when maximized;
    &_maximized {
        left: 0;
    }

    // CSS for items menu and background image;
    &_nav {
        width: 100%;
        height: 30vh;
        display: none;
        position: relative;

        @media (min-width: 736px) {
            display: flex;
            align-items: center;
            justify-content: space-around
        }

        &__image {
            position: absolute;
            max-width: 99%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__listElement {
            color: white;
            border-bottom: 1px solid black;

            &:hover {
                border-bottom: 1px solid white;
            }
        }
    }
}