body {
    max-width: 80vw;
    margin: 0 auto;


}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}

p,
button {
    font-family: var(--lato);
}

h1,
h2,
h3,
h4 {
    font-family: var(--oswald);
    margin: 0;

}

i {
    pointer-events: none;
}