body {
    height: 200vh;
    max-width: 1620px;
    margin: 0 auto;

}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}

:root {
    --lato: 'Lato', sans-serif;
    --oswald: 'Oswald', sans-serif;
}





p,
button {
    font-family: var(--lato);
}

h1,
h2,
h3,
h4 {
    font-family: var(--oswald);

}