@media (min-width: 18em) {

    p,
    i {
        font-size: calc(1rem + ((1vw - 0.2em) * 0.5));
    }

    h1 {
        font-size: calc(1.375rem + ((1vw - 0.2em) * 1.525));
    }

    h2 {
        font-size: calc(1.375rem + ((1vw - 0.25em) * 1.380));
    }

    h3 {
        font-size: calc(1.375rem + ((1vw - 0.3em) * 1.130));
    }

    h4 {
        font-size: calc(1.375rem + ((1vw - 0.4em) * 0.915));

    }

}

@media (min-width: 120em) {

    p,
    i {
        font-size: 1.5em;
    }

    h1 {
        font-size: 3.0em;
    }

    h2 {
        font-size: 2.75em;
    }

    h3 {
        font-size: 2.35em;
    }

    h4 {
        font-size: 2em;
    }
}